config/mgba/library.sqlite3
config/mgba/nointro.sqlite3
config/mgba/qt.ini
config/Microsoft/Microsoft Teams
config/cataclysm-dda
config/teams
config/autostart/steam.desktop
dcss-config/.vscode
config/GIMP/2.10
config/autostart/remmina-applet.desktop
config/gtk-2.0
config/remmina
config/ulauncher
config/xfce4/xfconf/xfce-perchannel-xml
config/chromium
config/google-chrome
config/mgba
config/reflector-simple-free-params.txt
config/GitKraken
