
/* Notification center */

.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    background: rgba(255, 255, 255, 0.8);
}

.noti-center.time {
    font-size: 32px;
}

/* Notifications */

.notification.content {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px

}

.title {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px;
    text-decoration: underline;
    color: #BD93F9;
}

.appname {
	margin-top: 4px;
    font-size: 12px;
    padding: 1px 4px;
    border: 0.5px solid;
    color: #6272a4;
}

.time {
    font-size: 12px;
}

.blurredBG.notification {
    background:  rgba(68, 71, 90, .77);
    border: 4px solid #282a36
}

.blurredBG.notification.critical {
    background: rgba(255, 0, 0, 0.5);
}

.notificationInCenter.critical {
    background: rgba(155, 0, 20, 0.5);
}

/* Labels */

label {
    color: #fff;
}

/**label.notification {
    color: #fff;
}**/

label.critical {
    color: #000;
}
.notificationInCenter label.critical {
    color: #000;
}


/* Buttons */

button {
    background: transparent;
    color: #322;
    border-radius: 3px;
    border-width: 0px;
    background-position: 0px 0px;
    text-shadow: none;
}

button:hover {
    border-radius: 3px;
    background: rgba(0, 20, 20, 0.2);
    border-width: 0px;
    border-top: transparent;
    border-color: #f00;
    color: #fee;
}


/* Custom Buttons */

.userbutton {
    background: rgba(20,0,0, 0.15);
}

.userbuttonlabel {
    color: #222;
    font-size: 12px;
}

.userbutton:hover {
    background: rgba(20, 0, 0, 0.2);
}

.userbuttonlabel:hover {
    color: #111;
}

button.buttonState1 {
    background: rgba(20,0,0,0.5);
}

.userbuttonlabel.buttonState1 {
    color: #fff;
}

button.buttonState1:hover {
    background: rgba(20,0,0, 0.4);
}

.userbuttonlabel.buttonState1:hover {
    color: #111;
}

button.buttonState2 {
    background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
    color: #111;
}

button.buttonState2:hover {
    background: rgba(20,0,0, 0.3);
}

.userbuttonlabel.buttonState2:hover {
    color: #000;
}


/* Images */

image.deadd-noti-center.notification.image {
    margin-left: 10px;
    margin-right: 10px;
}
