[Desktop Entry]
Type=Application
Exec=/home/erin/dcss.sh -t
Terminal=false
Categories=Games

Name=Dungeon Crawl Stone Soup (Trunk)
GenericName=DCSS
Comment=roguelike
Actions=New;

X-Desktop-File-Install-Version=0.26

#[Desktop Action New]
#Name=New Terminal
#Exec=alacritty
