#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=alacritty -e micro %f
Name=micro (alacritty terminal)
Comment=runs micro editor in terminal
Categories=TextEditor;Development;IDE;
MimeType=text/plain;
